# generating h5ad files and adding metadata

In [1]:
import scanpy as sc 
import pandas as pd 
import numpy as np

In [2]:
adata = sc.read_10x_mtx('GSM5688711_RS/') 
adata

AnnData object with n_obs × n_vars = 7005 × 33694
    var: 'gene_ids', 'feature_types'

In [3]:
adata.obs

Empty DataFrame
Columns: []
Index: [AAACCCAAGCTCGTGC-1, AAACCCAAGTCGGGAT-1, AAACCCACAGAGGAAA-1, AAACCCACAGGACTTT-1, AAACCCACATGATAGA-1, AAACCCAGTCTCGCGA-1, AAACCCATCATCTACT-1, AAACGAAAGAATCCCT-1, AAACGAACAAAGGCTG-1, AAACGAAGTTATCTTC-1, AAACGAAGTTGCATAC-1, AAACGAATCTACTTCA-1, AAACGAATCTGACAGT-1, AAACGCTAGGCTAAAT-1, AAACGCTAGTGGTTCT-1, AAACGCTCAACTGCTA-1, AAACGCTCATACATCG-1, AAACGCTCATACTGTG-1, AAACGCTGTCGGAACA-1, AAACGCTTCTCACCCA-1, AAAGAACAGGATATAC-1, AAAGAACCATGGCACC-1, AAAGAACGTGTTGAGG-1, AAAGAACTCCCAAGCG-1, AAAGAACTCTGGGAGA-1, AAAGGATAGATTACCC-1, AAAGGATAGTAAGGGA-1, AAAGGATCAGTAACAA-1, AAAGGATCAGTTGTCA-1, AAAGGATTCACCGGTG-1, AAAGGGCCAAAGTGTA-1, AAAGGGCGTCGAAACG-1, AAAGGGCGTTCGTTCC-1, AAAGGTACACAGACGA-1, AAAGGTAGTCATCACA-1, AAAGGTAGTTCCACAA-1, AAAGGTATCAGGAAGC-1, AAAGGTATCCACCTGT-1, AAAGGTATCCACGTAA-1, AAAGTCCAGAGTCTGG-1, AAAGTCCCAAGAGTTA-1, AAAGTCCCAGATGCGA-1, AAAGTCCCATCACCAA-1, AAAGTCCCATCCTAAG-1, AAAGTCCGTGAGACGT-1, AAAGTCCGTGGGTTGA-1, AAAGTCCTCTCGGTAA-1, AAAGTGAAGACGCTCC-1, AAAGTGAAGAGCACTG-1, AAAGTGAAGAGGGTAA-1, AAAGTGAAGCGTATGG-1, AAAGTGAAGTACAGCG-1, AAAGTGAGTCCACGCA-1, AAAGTGAGTTAGGAGC-1, AAAGTGATCCAGCTCT-1, AAAGTGATCCTCAGAA-1, AAATGGAAGATACCAA-1, AAATGGACACCACATA-1, AAATGGACATTGTCGA-1, AAATGGAGTCATGACT-1, AAATGGAGTCCTGTCT-1, AAATGGAGTTCAGCTA-1, AAATGGAGTTCCACAA-1, AAATGGATCCTCATAT-1, AAATGGATCGAACGGA-1, AACAAAGAGACGCATG-1, AACAAAGAGACGGATC-1, AACAAAGAGGCATCGA-1, AACAAAGAGGTTCTTG-1, AACAAAGAGTCGTCTA-1, AACAAAGCAGGAATAT-1, AACAAAGTCAAAGAAC-1, AACAAAGTCATCTATC-1, AACAACCAGATGATTG-1, AACAACCAGTAAATGC-1, AACAACCCACCTCTAC-1, AACAACCCATCGATGT-1, AACAACCCATGGTACT-1, AACAACCCATTGCCGG-1, AACAACCGTTCTTAGG-1, AACAACCTCTAACGCA-1, AACAACCTCTGAGGCC-1, AACAACCTCTTACGTT-1, AACAAGAAGACGTCCC-1, AACAAGAAGGCCATAG-1, AACAAGAAGGTAGTAT-1, AACAAGACATGTGGTT-1, AACAAGAGTAAGTTAG-1, AACAAGAGTGTACGCC-1, AACAAGAGTTGTCAGT-1, AACAAGATCAGCCTCT-1, AACAAGATCCGTAGTA-1, AACAAGATCTCCACTG-1, AACAAGATCTTCGTAT-1, AACACACAGGATATAC-1, AACACACGTGTGAGCA-1, AACACACTCCCGAGGT-1, AACAGGGCATGGTGGA-1, AACAGGGGTAGCACAG-1, AACAGGGGTTAAGGAT-1, ...]

[7005 rows x 0 columns]

In [4]:
adata.var

                     gene_ids    feature_types
RP11-34P13.3  ENSG00000243485  Gene Expression
FAM138A       ENSG00000237613  Gene Expression
OR4F5         ENSG00000186092  Gene Expression
RP11-34P13.7  ENSG00000238009  Gene Expression
RP11-34P13.8  ENSG00000239945  Gene Expression
...                       ...              ...
AC233755.2    ENSG00000277856  Gene Expression
AC233755.1    ENSG00000275063  Gene Expression
AC240274.1    ENSG00000271254  Gene Expression
AC213203.1    ENSG00000277475  Gene Expression
FAM231B       ENSG00000268674  Gene Expression

[33694 rows x 2 columns]

In [5]:
# Add the three columns with constant values
adata.obs['samples'] = '711'  
adata.obs['condition'] = 'Tumor'
adata.obs['location'] = 'Right'

In [6]:
adata.obs

                   samples condition location
AAACCCAAGCTCGTGC-1     711     Tumor    Right
AAACCCAAGTCGGGAT-1     711     Tumor    Right
AAACCCACAGAGGAAA-1     711     Tumor    Right
AAACCCACAGGACTTT-1     711     Tumor    Right
AAACCCACATGATAGA-1     711     Tumor    Right
...                    ...       ...      ...
TTTGGTTTCTGGGATT-1     711     Tumor    Right
TTTGTTGCACAAACGG-1     711     Tumor    Right
TTTGTTGGTAATGCTC-1     711     Tumor    Right
TTTGTTGGTTGAGGAC-1     711     Tumor    Right
TTTGTTGTCTTCCCGA-1     711     Tumor    Right

[7005 rows x 3 columns]

In [7]:
adata.write_h5ad('GSM5688711.h5ad')